<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Document</title>


</head>

<body>


    <header>

    <div class="container" style="align-items: center;">
        <nav class="nav-bar justify-content-between">

            <div class="logo">
                <h3>Navbar</h3>
            </div>

            <div class="nav" >
                <ul >
                    <li>
                        <a  href="/">Home</a>
                    </li>
                    <li>
                        <a  href="/login">Login </a>
                    </li>
                    <li>
                        <a  href="/register">Registration </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    </header>




</body>

</html>