<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{>navbar}}
    <section class="home">
        <div class="container">
            <h1>Welcome MERN stack with Saurabh</h1>
            <h5>Lorem ipsum dolor sit.</h5>
        </div>
    </section>

    <section class="home-cont">
        <div class="container">
            <div class="row">

            <div class="card my-5 mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/200/128" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card my-5 mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/200/129" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card my-5 mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/200/120" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
           
        </div>
            </div>
    </section>

     <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>